.GALLERY__title{
    margin-left: 120px;
    padding-top: 80px;
    padding-left: 10px;
}
.aboutUs__title-wrapper h1{
    margin: 25px;
}
.GALLERY__navigation{
    margin-left: 150px;
    padding-top: 30px;
}

.GALLERY__navigation-btn{
    padding-left: 60px;
    font-family: 'Ruda';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    position: relative;
    cursor: pointer;
    background-color: white;
    border: none;
    margin-right: 20px;
    transition: all 0.4s ease-out;
}
.GALLERY__navigation-btn:hover, .activeBTN{
    color: #0F80E9;
}
.GALLERY__navigation-btn:before{
    content: "";
    height: 1px;
    position: absolute;
    width: 50px;
    background-color: black;
    left: 4px;
    top: 14px;
    transition: all 0.3s ease;
}
.GALLERY__navigation-btn:hover:before{
    transform: rotate(-45deg);
}

.GALLERY__content{
    margin: 50px 50px 50px 150px;
}
.GALLERY__content-wrapper{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-template-rows: repeat(1, 280px);
}
.GALLERY__content-item{
    min-height: 280px;
    /*max-height: 350px;*/
}
.GALLERY__content-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}















.minimized {
    width: 300px;
    cursor: pointer;
    border: 1px solid #FFF;
}
.minimized:hover {
    border: 1px solid yellow;

}
/* увеличенная картинка */
#magnify {
    display: none;
    /* position: absolute; upd: 24.10.2016 */
    position: fixed;
    max-width: 700px;
    /*max-height: 200px;*/
    max-height: 95%;
    z-index: 9999;
}
#magnify img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}
/* затемняющий фон */
#overlay {
    display: none;
    background: #000;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    z-index: 9990;
}
/* кнопка закрытия */
#close-popup {
    width: 30px;
    height: 30px;
    background: #FFFFFF;
    border: 1px solid #AFAFAF;
    border-radius: 15px;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;
}
#close-popup i {
    width: 30px;
    height: 30px;
    background: url(https://codernote.ru/files/cross.png) no-repeat center center;
    background-size: 16px 16px;
    display: block;
}
@keyframes rota {
    25% { transform: rotate(360deg); }
}
#close-popup:hover {
    animation: rota 4s infinite normal;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}




@media (max-width: 1200px){

    .GALLERY__title{
        margin-left: 30px;
        padding-top: 80px;
        padding-left: 0px;
    }
    .GALLERY__navigation{
        margin-left: 50px;
        padding-top: 30px;
    }
    .GALLERY__content{
        margin: 50px 40px 50px 40px;
    }
}
@media (max-width: 570px){
    .GALLERY__content {
        margin: 50px 15px 50px 15px;
    }
    .GALLERY__title{
        margin-left: 0px;
        padding-top: 100px;
    }
    .GALLERY__navigation{
        padding: 0;
    }
    .GALLERY__navigation-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: baseline;
    }
    .GALLERY__navigation-btn{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .GALLERY__navigation-btn:before{
        top: 32px;
    }
    .aboutUs__title-wrapper{
        flex-direction: column;
        align-content: center;
    }
    .Paige__title-description{
        margin: 0px;
        padding: 5px 0px;
        font-size: 20px;
    }
    .Paige__title-div-description{
        border: none;
        padding-left: 17px;
    }
    .Paige__title{
        margin: 0;
        font-size: 23px;
        padding: 10px 0px;
    }
}





