.learn_more{
    margin-left: 120px;
    height: 350px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.learn_wrapper{
}
.thirdScreen__title{
    font-family: 'Ruda', sans-serif;
    color: white;
    font-size: 25px;
    text-align: justify;
}
.addition_to_btn{
    margin-left: auto;
    display: block;
}
footer{
    margin-left: 120px;
    height: 300px;
    background-image: url("../images/footerbg.png");
    background-color: rgba(0, 0, 0, 0.95);
    color: white;
    font-family: 'Ruda';
    font-style: normal;
    font-size: 25px;
}
.footer_lr{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: inherit;
}
.footer_left{
    font-family: 'Ruda';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 49px;
    align-items: center;
}
.footer_right{
    display: flex;

}
.footer__navigation{
    display: flex;
    flex-direction: column;
}
.footer__navigation-link{
    margin-bottom: 25px;

}
.footer__contacts{
    margin-left: 100px;
}
.pl-10{
    padding-left: 25px;
    position: relative;
}
.pl-10:before{
    content: '';
    position: absolute;
    width: 40px;
    left: -20px;
    top: 15px;
    height: 1px;
    background-color: white;
}
.hover_effect{
    transition: all 0.3s ease;
    cursor: pointer;
}
.hover_effect:hover{
    color: #0F80E9;

}
